<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
    <h1>Sign In</h1>
    <form id="signin-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <input type="password" id="password" name="password" required minlength="5">  
        <button type="submit" >Sign Up</button>
    </form>
    <script src="utils.js"></script>
    
    <script type="module">
        import { createUser } from '/static/api.js';
                   function showMessage(text) {
                        const event = new CustomEvent('showMessage', {
                        detail: {
                            text: text
                        }
                    });
                    document.dispatchEvent(event);
                    }
        document.getElementById('signin-form').addEventListener('submit',async function(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password =  document.getElementById('password').value;
            if(password.length < 6){
                showMessage("password must be more than 5 chars")
                return 
            }
            const id = await createUser(username,password);
            
            window.location.href = "/signin"
        });
    </script>
</body>
</html>
