<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
</head>
<body>
    <h1>Todos</h1>
    <ul id="todos-list">
        <!-- Todo items will be dynamically inserted here -->
    </ul>
    <a href="/create_todo">Create Todo</a>
    <script type="module">
        import { getTodos } from '/static/api.js';

        document.addEventListener('DOMContentLoaded',async function() {
            const userId = localStorage.getItem('user_id');
            if (!userId) {
                window.location.href = '/frontend/signin';
                return;
            }
            const todosList = document.getElementById('todos-list');
            todosList.innerHTML = ''; // Clear any existing todos
            const todos = await fetchTodos(userId)
            todos.forEach(todo => {
                if (todo.user_id === Number(localStorage.getItem('user_id'))) {
                    const todoItem = document.createElement('li');
                    todoItem.textContent = `${todo.title}: ${todo.description}`;
                    todosList.appendChild(todoItem);
                    const editButton = document.createElement('button')
                    editButton.textContent = "edit"
                    editButton.addEventListener('click', () => {
                        window.location.href = `/edit_todo/${todo.id}`;
                    });

                    // Append the edit button to the todo item
                    todoItem.appendChild(editButton);
                    todosList.appendChild(todoItem)

                }
            });
            
        });

        async function fetchTodos(userId) {
            
            return await getTodos(userId)
        }
    </script>
</body>
</html>
